<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Szolgáltatások</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-eye wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Arculattervezés</h3>
                    <p class="text-muted">Kis cégből is könnyen nagy márkát tudunk építeni egy jól felismerhető és letisztult arculat segítségével.</p>
                    <a href="#contact" class="btn btn-inline btn-primary page-scroll">Tervezzünk!</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa-4x fa fa-mouse-pointer wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Webdesign</h3>
                    <p class="text-muted">Állítson szolgálatba egy gyönyörű és informatív weboldalt, hogy legyen egy non-stop elérhető értékesítője.</p>
<a href="#contact" class="btn btn-inline btn-primary page-scroll">Netre fel!</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-box-open wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Csomagolástervezés</h3>
                    <p class="text-muted">A vásárló a termék csomagolásával találkozik először, mi segítünk megtervezni a leghatékonyabbat. </p>
<a href="#contact" class="btn btn-inline btn-primary page-scroll">Csomagolnék!</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Kiadványtervezés</h3>
                    <p class="text-muted">Termékkatalógusok, brossúrák és hírlevelek jól bejáratott eszközök az értékseítés felpörgetéséhez..  </p>
<a href="#contact" class="btn btn-inline btn-primary page-scroll">Nyomtassunk!</a>
                </div>
            </div>
        </div>
    </div>
</section>
